.bannerBg{
    background-image: url(./assets/images/bg.png);
    background-repeat: no-repeat;
    background-position: cover;
}

.appointmentBg{
    background-image: url(./assets/images/appointment.png);
    background-repeat: no-repeat;
    background-position: cover; 
}

.footerBg{
    background-image: url(./assets/images/footer.png);
    background-repeat: no-repeat;
    background-position: cover; 
}